html,body{margin:0;height:100%}
body,footer,.hero-body{background-color:#00091d!important}
a{color:inherit}
a:hover{text-decoration:none;color:inherit}
p{color:#8892b0}.title{color:rgba(139,180,216,.94)}
.sidebar{background-color:#172a45;display:flex;align-items:center;flex-direction:column;border-radius:5px;color:#8892b0;opacity:1}
.sidebar-link{font-size:.8rem;text-transform:uppercase;color:rgba(139,180,216,.94)}
.sidebar-link:hover{color:#e6f1ff}
.header-name{font-weight:600;color:#e6f1ff}
.column-header{border-bottom:2px #2d3952 solid;margin-bottom:1rem}
.column-header>h1{font-family:lato,sans-serif;font-weight:100;color:#fff}
.icon,.sidebar-link{transition-duration:250ms}
.icon:hover{color:#fff}
.terminal-bar{background-color:#eae8e9;border-top-left-radius:5px;border-top-right-radius:5px;display:flex;position:relative}
.dark-mode{background-image:linear-gradient(180deg,#464248 0%,#3b383d 100%);border-bottom:1px solid rgba(66,66,66,.5)}
.dark-mode-text{color:#bdb9bf!important}.icon-btn{border-radius:50%;margin-top:7px;height:15px;width:15px;margin-bottom:.5rem}
.terminal-bar>div.icon-btn:first-child{margin-left:.6rem}
.terminal-bar>div.icon-btn:not(:first-child){margin-left:.5rem}
.terminal-bar>div.icon-btn:last-child{margin-right:.6rem}
.close{background-color:#fa615c}.max{background-color:#3fc950}
.min{background-color:#ffbd48}
.terminal-window{background-color:#000;border-bottom-right-radius:5px;border-bottom-left-radius:5px;height:372px;padding:1rem;display:flex;flex-direction:column}
.primary-bg{background-color:#131313}.shadow{-webkit-box-shadow:0 5px 10px rgba(0,0,0,.55);-moz-box-shadow:0 5px 10px rgba(0,0,0,.55);box-shadow:0 3px 15px rgba(0,0,0,.2)}
.terminal-bar-text{position:absolute;margin-top:3px;color:#383838;width:100%;text-align:center;font-weight:500}
.has-equal-height{height:100%;display:flex;flex-direction:column}.terminal-output{overflow-y:hidden;overflow:auto}
.column-child{flex:1}.terminal-line,.dummy-keyboard{position:relative;font-family:anonymous pro,monospace;font-size:.9rem;color:#b7c5d2}
.directory{color:#75e1e7;font-weight:500}
.success{color:#8dd39e}
.code,.error,.fa-heart{color:#c00000}
.fa-heart{padding-top:.5rem}
.dummy-keyboard{width:80%;border:0;outline:none;background:0 0;text-transform:lowercase}::-webkit-scrollbar{display:none}@media screen and (max-width:768px)
{.resume{padding-bottom:.5rem}}